.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
* { margin: 0; padding: 0 }
.app { height: 100vh  }

h1 {
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 80px;
    transform: skewY(-0deg);
    letter-spacing: 4px;
    word-spacing: -8px;
    color: tomato;
    text-shadow: 
        -1px -1px 0 firebrick,
        -2px -2px 0 firebrick,
        -3px -3px 0 firebrick,
        -4px -4px 0 firebrick,
        -5px -5px 0 firebrick,
        -6px -6px 0 firebrick,
        -7px -7px 0 firebrick,
        -8px -8px 0 firebrick
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.products > div:nth-child(2) {
    margin: 0 40px;
}
.products img {
    width: 300px;
    height: 500px;
    border: 1px solid firebrick;
    border-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.button {
    width: 302px;
    padding: 20px 0;
    background: tomato;
    position: relative;
    transition: all 0.25s ease-in-out;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.button:after {
    content: "";
    background: tomato;
    height: 25px;
    width: 25px;
    position: absolute;
    top: -10%;
    left: 48%;
    transform: rotate(45deg);
    transition: all 0.25s ease-in-out;
}
.button:hover {
    cursor: pointer;
    background: firebrick;
}
.button:hover:after {
    transform: rotate(135deg);
    background: firebrick;
}